%li.overflow-hidden.rounded-xl.border.border-gray-200{ id: dom_id(chromosome) }
  .flex.items-center.gap-x-4.border-b.p-6
    .text-sm.font-medium
      = link_to chromosome_path(chromosome) do
        = chromosome.name
  - chromosome.alleles.order(:name).each do |allele|
    %p.text-sm.leading-6.text-teal-300= allele.to_s
  .hidden.shrink-0.sm:flex.sm:flex-col.sm:items-end
    %p.text-sm.leading-6.text-teal-300= pluralize(chromosome.alleles.count, 'allele')
    %p.text-sm.leading-6.text-teal-300= pluralize(chromosome.generations.count, 'generation')
