<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @chromosome %>

    <%= link_to "Edit this chromosome", edit_chromosome_path(@chromosome), class: "mt-2 rounded-lg py-3 px-5 bg-teal-200 inline-block font-medium text-teal-700" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this chromosome", chromosome_path(@chromosome), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-teal-200 font-medium text-teal-700" %>
    </div>
    <%= link_to "Back to chromosomes", chromosomes_path, class: "ml-2 rounded-lg py-3 px-5 bg-teal-200 inline-block font-medium text-teal-700" %>
  </div>
</div>
